#header{
    background-color: rgb(58, 57, 57);
    text-align: center;
    
}

#title{
    color: white;
}

#sidebar{
    border: 1px, black;
    outline-style: solid;
    width: 25%;
    display: inline-block
}

#main{
    border: 1px, black;
    outline-style: solid;
    width: 75%;
    display: inline-block
}

#search-div{
    display: flex;
}

#search{
    display: inline-block;
}

#searchBtn{
    float: right;
    width: 20%
}

#Search-Btn{
    float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

#specs-list{
    list-style: none
}

#today-date{
    float: auto;
    display: inline-block
}

#city-title{
    display: inline-block
}

#uv-index{
    
}