#header{
    background-color: rgb(37, 37, 37);
    text-align: center;
    
}

#title{
    color: white;
}

#sidebar{
    border: 1px, black;
    outline-style: solid;
    width: 25%;

}

#main{
    border: 1px, black;
    outline-style: solid;
    width: 75%;
}

#search-div{
    display: flex;
}

#search{
    display: inline-block;
}

#searchBtn{
    float: right;
    width: 20%
}

#Search-Btn{
    float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}